body{
    background-image: url("../../images/bg_auth.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.titreInscription{
    color: #c7a500 ;
}

.margingroup{
    margin-right: 1em;
}
