.container {

    text-align: center;

}

.VosChantiers {

    position: static;
    bottom: -35%;
    margin-top: 1em;

}

.CardChantier {

    position: static;
    bottom: -35%;
    margin-top: 1em;

}
